<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title tiles:fragment="title">Chunky !</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link href="/css/offcanvas.css" rel="stylesheet">

</head>
<body class="bg-mcolor">
<div th:fragment="single_chunk" class="singlechunk my-3 pb-3 pl-3 pr-3 pt-1 media rounded box-shadow">

    <img src="/images/error.png" width="32px" height="32px" alt="" class="mr-2 rounded align-self-start mt-1">
    <div class="media-body pb-1 mb-0 small lh-125">
        <div class="mt-0 border-darkgray border-bottom d-block">
            <a th:href="@{'user/' + ${chunk.getAuthor().getUsername()}}"> <strong class="d-inline-block text-gray-dark py-1 mt-0" th:text="'@' + ${chunk.getAuthor().getUsername()}">@username</strong></a>
            <div sec:authorize="hasRole('ADMIN')" class="d-inline-block float-right py-1 pl-1">
                <a class="text-danger" th:href="@{/delete/{id}(id=${chunk.getId()})}"> <span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <span class="time d-inline-block float-right text-right text-info py-1 mt-0" th:text="*{T(java.time.Duration).between(chunk.getPostdate(), T(java.time.LocalDateTime).now()).toMinutes()}">Czas postu</span>

        </div>
        <span class="d-block pt-1 text-white"th:utext="*{chunk.isDeleted()} ? ${@environment.getProperty('chunk.view.delete-message')} : *{chunk.getContent()}">CHUNK</span>
        <div id="reply" class ="d-block pt-1 my-0 text-white">
            <button class="btn btn-xs btn-primary small text" sec:authorize="isAuthenticated()" onmousedown="showReplyForm(this)">Odpowiedz</button>
            <form class="replyform" sec:authorize="isAuthenticated()" th:action="@{/reply?id={id}(id=${chunk.getId()})}" method="post" style="display: none">
                <div class="form-group">
                    <h6 class="border-bottom border-gray pb-1 mb-1 text-white">Add Chunk</h6>
                    <textarea class="form-control " id="content" name="content" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-chunk border-mcolor mb-2 col-12">Chunk !</button>
            </form>
        </div>

        <div th:if="${chunk.getReplies()} != null" th:each="reply : ${chunk.getReplies().size()>1 ? chunk.getReplies().subList(0,2): chunk.getReplies()}" class="singlechunk-reply my-3 pb-3 pl-3 pr-3 pt-1 media rounded box-shadow">
            <img src="/images/error.png" width="32px" height="32px" alt="" class="mr-2 rounded align-self-start mt-1">
            <div class="media-body pb-1 mb-0 small lh-125">

                <div>
                    <div class="mt-0 border-darkgray border-bottom d-block">
                        <a th:href="@{'user/' + ${reply.getAuthor().getUsername()}}"> <strong class="d-inline-block text-gray-dark py-1 mt-0" th:text="'@' + ${reply.getAuthor().getUsername()}">@username</strong></a>
                        <div sec:authorize="hasRole('ADMIN')" class="d-inline-block float-right py-1 pl-1">
                            <a class="text-danger" th:href="@{/deletereply/{id}(id=${reply.getId()})}"> <span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <span class="time d-inline-block float-right text-right text-info py-1 mt-0" th:text="*{T(java.time.Duration).between(reply.getPostdate(), T(java.time.LocalDateTime).now()).toMinutes()}">Czas postu</span>
                    </div>
                    <span class="d-block pt-1 text-white"th:utext="*{reply.isDeleted()} ? ${@environment.getProperty('chunk.view.delete-message')} : *{reply.getContent()}">CHUNK</span>
                </div>

            </div>
        </div>

    </div>


</div>
</div>

</div>
</body>
</html>
