<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title tiles:fragment="title">Messages : Create</title>
</head>
<body>
<div>
   <h1>Helllo world!</h1>
    <div sec:authorize="isAuthenticated()">

        <form method="post" th:action="@{/chunk}">
            <fieldset>
                <legend>Add Chunk</legend>
                <label for="content">Password</label>
                <input type="text" id="authorId" name="authorId"/>
                <input type="textarea" id="content" name="content"/>
                <div class="form-actions">
                    <button type="submit" class="btn">Chunk !</button>
                </div>
            </fieldset>

        </form>

        This content is only shown to authenticated users.
    </div>

    <div th:if="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}" th:text="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').getMessage()}">xd</div>
</div>
</body>
</html>