<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title tiles:fragment="title">Messages : Create</title>
</head>
<body>
<div>
   <h1>Helllo world!</h1>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>

    <div th:if="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}" th:text="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').getMessage()}">xd</div>
</div>
</body>
</html>