<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title tiles:fragment="title">Messages : Create</title>
</head>
<body>
<div>
   <h1>Helllo worldd!</h1>
    <div sec:authorize="isAuthenticated()">

        <form method="post" th:action="@{/chunk}">
            <fieldset>
                <legend>Add Chunk</legend>
                <label for="content">Password</label>
                <textarea id="content"  name="content"> </textarea>
                <div class="form-actions">
                    <button type="submit" class="btn">Chunk !</button>
                </div>
            </fieldset>

        </form>

        <div th:if="${chunks!=null}" th:each="chunk : ${chunks}">
            <span th:text="*{chunk.getContent()}">...</span>
        </div>

        This content is only shown to authenticated users.
    </div>

    <div th:if="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}" th:text="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').getMessage()}">xd</div>
</div>
</body>
</html>