<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title tiles:fragment="title">Chunky !</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link href="/css/offcanvas.css" rel="stylesheet">


</head>
<body class="bg-mcolor">
<div class="row">

    <div th:replace="fragments/header :: header"></div>
    <div class="col-sm-12 col-md-8 my-3 ml-2 p-3 bg-mdarker rounded box-shadow position-relative" style="z-index:1">

        <h6 class="border-bottom border-gray pb-1 pl-2 mb-0 text-white">Ustawienia Profilu:</h6>

        <div class="btn-group">
            <button class="btn border-dark btn-light" onclick="switchto('profil')">Wyswietlanie profilu</button>
            <button class="btn border-dark btn-light" onclick="switchto('pass')">Hasło</button>
        </div>

        <div id="profil" style="display: block">

                <form class="form-group my-5" th:action="@{/setting}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-4 align-middle">
                            <img class="d-block mx-auto" id="imgpreview" th:src="${user.hasAvatar()}? ${'avatars/'+ #authentication.getName()+'.jpg'}:'images/error.png'" style="width:120px;" alt="your image" />
                        </div>
                        <div class="form-group col-8">
                            <label class="text-white">Zmien Avatar:
                                <input class="form-control-file" id="avatar" type="file" accept="image/jpeg,image/png" name="avatar"/>
                            </label>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Zapisz</button>
                </form>
        </div>

        <div id="pass" style="display: none">
            pass
        </div>
    </div>

    <div class="d-sm-none d-md-inline col-md-4 offset-md-8 position-fixed my-3 pl-4" style="z-index:0!important;">
        <div class="col-md-12 bg-mdarker rounded box-shadow pt-3" >
            <h6 class="border-bottom border-gray pt-1 mb-0 text-white">Profil:</h6>
            <div th:remove="tag" th:with="sidebarfragment = ${#authorization.expression('isAuthenticated()')} ? 'profile' : 'loginform'">
                <div class="row" th:remove="tag" th:replace="fragments/sidebar :: ${sidebarfragment}">Wyswietlanie profilu/logowanie</div>
            </div>

        </div>
    </div>

    <div th:if="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}" th:text="${#httpServletRequest.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').getMessage()}">xd</div>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="/js/offcanvas.js"></script>
</body>
</html>